header{
	width: 100%;
	height: 130px;
}

.escuela{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
}

 div.escuela a{
	text-decoration: none;
	color: #192951;
}

#boton{
	padding: 0px;
	margin-top: 20px;
	text-align: center;
}

#boton li{
	display: inline;
}

#boton li a{
	text-decoration: none;
	font-size: 15px;
	padding: 30px;
	color: #192951;
}

#boton li a:hover{
	color: #99B2E6;
}

.seccion1{
	width: 100%;
	height: 1000px;
}

.blog{
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 30px;
}

.gris{
	margin-bottom: 50px;
	height: 220px;
	background-color: #E6E6E6;
	overflow: hidden;
}

.fondo1{
	width: 25%;
	height: 230px;
	background-image: url("../img/blog1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0%; 
}

.fondo2{
	width: 25%;
	height: 230px;
	background-image: url("../img/blog2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0%; 
}

.fondo3{
	width: 25%;
	height: 230px;
	background-image: url("../img/blog3.jpg");
	background-repeat: no-repeat;
	background-size: 120% 100%;
	background-position: -17px 0%;
}

.articulo{
	padding-left: 20px;
	margin-top: 30px;
}

.titulo{
	padding: 2px;
	font-size: 13px;
	font-weight: bold;
}

.fecha{
	padding: 2px;
	font-size: 13px;
	color:grey;
}

.texto{
	width: 105%;
	padding: 2px;
	font-size: 13px;
}

.ver{
 	text-decoration: none;
	font-size: 13px;
	padding: 10px 70px;
	border-radius: 3px;
	background-color: #00194B;
	font-weight: bold;
	text-align: center;
	margin-top: 80px;
 }

#ver{
	padding-left: 20px;
	margin-top: 30px;
	padding-left: 0px;
}

.seccion6{
	width: 100%;
	height: 450px;
	background-image: url("../img/shoes.jpg");
	background-repeat: no-repeat;
	background-position: 90%; 
}

.formulariot{
	width: 360px;
	margin-top: 40px;
	margin-bottom: 2%;
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-align: left;
	color: #192951;	
}

.cajac{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 25px;
}

.cajac2{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 40px;
}

.input{
	height: 40px;
}

.trans{
	background: transparent;
}

#submit_button{
	text-decoration: none;
	font-size: 22px;
	color: #C0C2C8;
	padding: 15px 173px;
	background-color: #00194B;
	border-radius: 4px;

}

footer{
	width: 100%;
	height: 80px;
	background-color: #00194B; 
	border-bottom: 7px solid black;
}

.copy{
	font-size: 15px;
	padding: 35px 50px;
	color: #C0C2C8;
	float: left;
	position: relative;
	right: 200px;
}

.icono{
	background-image: url("../img/perfil.gng");
	background-repeat: no-repeat;
	background-position: 150%; 
}

.seccion6{
	width: 100%;
	height: 450px;
	background-image: url("../img/shoes.jpg");
	background-repeat: no-repeat;
	background-position: 90%; 
}

.formulariot{
	width: 360px;
	margin-top: 40px;
	margin-bottom: 2%;
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-align: left;
	color: #192951;	
}

.cajac{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 25px;
}

.cajac2{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 40px;
}

.input{
	height: 40px;
}

.trans{
	background: transparent;
}

textarea, input{
	background-image: url("../img/email.png") no-repeat
	scroll 0 0 transparent;
	padding: 5px 5px 5px 25px;
	width: 450px;
	margin-bottom: 1px;
}



#submit_button{
	text-decoration: none;
	font-size: 22px;
	color: #C0C2C8;
	padding: 15px 173px;
	background-color: #00194B;
	border-radius: 4px;

}

footer{
	width: 100%;
	height: 80px;
	background-color: #00194B; 
	border-bottom: 7px solid black;
}

.copy{
	font-size: 15px;
	padding: 35px 50px;
	color: #C0C2C8;
	float: left;
	position: relative;
	right: 200px;
}
